@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Oswald:wght@700&family=Roboto+Condensed&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap");
.container {
  display: grid;
  height: auto;
  grid-template-columns: 0.5fr 1.9fr 1.7fr 0.5fr;
  grid-template-rows: 0.1fr 0.1fr 0.9fr 1.5fr;
  grid-template-areas: "nav nav nav nav" "blank content1 content2 blank2";
  grid-gap: 10px 30px;
}

#nav {
  background: #a7ffeb;
  grid-area: nav;
}

#blank {
  background: #84ffff;
  grid-area: main;
}

#content1 {
  grid-area: content1;
  grid-row-start: 2;
  grid-row-end: 5;
}

#content2 {
  grid-area: content2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#content3 {
  grid-area: content3;
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas: "nav" "sidebar" "main" "content1" "content2" "content3";
  }
}
body {
  background-image: linear-gradient(rgba(76, 74, 74, 0.096), transparent);
}

#content1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.231), transparent), url(../assets/question.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  font-family: "Francois One", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Secular One", sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 40%;
  overflow-x: word-break;
  box-shadow: -1px 5px 8px 0px rgba(1, 0, 0, 0.5019607843);
}
#content1 h1 {
  margin-left: 10%;
  margin-bottom: 0;
}
#content1 p {
  margin-left: 10%;
  font-size: 20px;
  margin-top: 0;
}
#content1 .pun {
  font-size: 10px;
}

#content2 h3 {
  font-family: "Francois One", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Secular One", sans-serif;
  color: white;
  font-size: 35px;
  font-weight: 100%;
  color: black;
}
#content2 p {
  font-family: "Francois One", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Secular One", sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 0%;
  color: black;
}

#content3 {
  border-radius: 10px;
  box-shadow: -1px 5px 8px 0px rgba(1, 0, 0, 0.5019607843);
  background-color: white;
}
#content3 #survey-form {
  font-family: "Francois One", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Secular One", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 60%;
  color: black;
  margin: 20px 20px auto;
  display: flex;
  flex-direction: column;
}
#content3 #survey-form input {
  padding: 7px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#content3 #formcontain2 {
  margin: 15px;
  margin-top: 0px;
  font-family: "Francois One", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Secular One", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 0%;
  color: black;
}
#content3 #formcontain2 div {
  display: inline-block;
}
#content3 #formcontain2 div label {
  display: block;
}
#content3 #formcontain2 #countryopt {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0;
  padding: 7px;
  max-width: 200px;
}
#content3 #formcontain2 select:invalid {
  color: gray;
}
#content3 #formcontain2 input {
  padding: 7px;
  margin: 5px;
  margin-bottom: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#content3 #formcontain2 p {
  font-family: "Francois One", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Secular One", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 0%;
  color: black;
  margin: 10px;
}
#content3 #formcontain3 {
  margin: 8px;
  margin-left: 11px;
}
#content3 #formcontain3 p {
  font-family: "Francois One", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Secular One", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 0%;
  color: black;
  margin-bottom: 5px;
}
#content3 #formcontain3 #color {
  margin-top: 10px;
}
#content3 #formcontain3 #cat {
  font-family: "PT Sans Narrow", sans-serif;
  margin-left: 20px;
}
#content3 #formcontain3 .tnc {
  display: flex;
  justify-content: center;
  margin-top: 14px;
  font-family: "Francois One", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Secular One", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 0%;
  color: black;
}
#content3 #formcontain3 .tnc input {
  margin: 0;
  margin-right: 5px;
}
#content3 #formcontain3 .tnc a {
  margin-left: 1px;
}
#content3 #formcontain3 .spam {
  display: flex;
  justify-content: center;
  font-family: "Francois One", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Secular One", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 0%;
  color: black;
}
#content3 #formcontain3 .spam input {
  margin: 0;
  margin-right: 5px;
}
#content3 #formcontain3 #txtarea {
  padding: 7px;
  margin: 10px;
  margin-bottom: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
  min-width: 400px;
  max-height: 40px;
  min-height: 40px;
  box-shadow: -1px 5px 8px 0px rgba(1, 0, 0, 0.5019607843);
}
#content3 #formcontain3 #submitbtn {
  background-color: rgb(89, 177, 191);
  padding: 14px;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
  border-color: transparent;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
#content3 #formcontain3 #submitbtn:hover {
  background-color: rgba(17, 134, 152, 0.504);
  cursor: pointer;
}
#content3 #submitcontainer {
  display: flex;
  justify-content: flex-end;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=styles.css.map */
